* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img {
  vertical-align: middle;
}
body {
  padding: 0.45rem 0;
  height: 100vh;
}
#main {
  position: relative;
  height: 100%;
}
#header {
  background-color: #006699;
  display: flex;
  height: 0.45rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 0 0.45rem 0 0.45rem;
  width: 100%;
}
#header h4 {
  margin: 0;
  width: 2.85rem;
  line-height: 0.45rem;
  text-align: center;
  color: #fff;
  font-weight: normal;
}
#header form {
  width: 100%;
  padding-top: 0.05rem;
}
#header form input {
  text-align: left;
  background-color: #fff;
  margin-bottom: 0;
}
#header a {
  width: .45rem;
  height: 0.45rem;
  top: 0;
  line-height: 0.45rem;
  text-align: center;
  color: #fff;
  position: absolute;
}
#header a:last-of-type {
  right: 0;
}
#header a:first-of-type {
  left: 0;
}
#footer {
  height: 0.45rem;
  width: 100vw;
  background-color: #006699;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
}
#footer ul {
  display: flex;
}
#footer ul li {
  width: 25vw;
}
#footer ul li a {
  color: #fff;
  display: block;
  text-align: center;
  padding: .085rem 0;
}
#footer ul li a span {
  display: block;
}
.form-search {
  display: flex;
  padding: .1rem;
}
.form-search .input-search {
  flex: 1;
  height: .34rem;
  background-color: #fff;
  border: 1px solid #006699;
  text-align: left;
  font-size: .14rem;
  border-radius: 0.06rem 0 0 0.06rem;
}
.form-search .btn-search {
  width: 0.6rem;
  height: 0.34rem;
  background-color: #006699;
  border-color: #006699;
  border-radius: 0 0.06rem 0.06rem 0;
}
.product-list {
  flex: 1;
  position: relative;
}
.product-list ul {
  display: flex;
  flex-wrap: wrap;
  min-height: 5.78rem;
  align-content: flex-start;
  padding: .1rem;
}
.product-list ul li {
  width: 33.33%;
}
.product-list ul li a {
  display: block;
  background-color: #fff;
}
.product-list ul li a img {
  width: 100%;
}
.product-list ul li a p {
  font-size: .14rem;
  text-align: center;
}
body {
  background-color: #ccc;
}
#mian {
  display: flex;
}
#mian .mian-title {
  width: .8rem;
  position: relative;
}
#mian .mian-title .mui-scroll-wrapper ul {
  min-height: 6.00rem;
}
#mian .mian-title .mui-scroll-wrapper ul li a {
  display: block;
  height: .45rem;
  color: #666;
  width: 100%;
  font-size: .14rem;
  line-height: .45rem;
  text-align: center;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}
#mian .mian-title .mui-scroll-wrapper ul li.active a {
  background-color: #ccc;
  color: #006699;
}
#mian .mian-content {
  flex: 1;
  position: relative;
}
#mian .mian-content ul {
  display: flex;
  flex-wrap: wrap;
  min-height: 5.88rem;
  align-content: flex-start;
  padding: .1rem;
}
#mian .mian-content ul li {
  width: 33.33%;
}
#mian .mian-content ul li a {
  display: block;
  background-color: #fff;
}
#mian .mian-content ul li a img {
  width: 100%;
}
#mian .mian-content ul li a p {
  font-size: .14rem;
  text-align: center;
}
