* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img {
  vertical-align: middle;
}
body {
  padding: 0.45rem 0;
  height: 100vh;
}
#main {
  position: relative;
  height: 100%;
}
#header {
  background-color: #006699;
  display: flex;
  height: 0.45rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 0 0.45rem 0 0.45rem;
  width: 100%;
}
#header h4 {
  margin: 0;
  width: 2.85rem;
  line-height: 0.45rem;
  text-align: center;
  color: #fff;
  font-weight: normal;
}
#header form {
  width: 100%;
  padding-top: 0.05rem;
}
#header form input {
  text-align: left;
  background-color: #fff;
  margin-bottom: 0;
}
#header a {
  width: .45rem;
  height: 0.45rem;
  top: 0;
  line-height: 0.45rem;
  text-align: center;
  color: #fff;
  position: absolute;
}
#header a:last-of-type {
  right: 0;
}
#header a:first-of-type {
  left: 0;
}
#footer {
  height: 0.45rem;
  width: 100vw;
  background-color: #006699;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
}
#footer ul {
  display: flex;
}
#footer ul li {
  width: 25vw;
}
#footer ul li a {
  color: #fff;
  display: block;
  text-align: center;
  padding: .085rem 0;
}
#footer ul li a span {
  display: block;
}
.form-search {
  display: flex;
  padding: .1rem;
  padding-bottom: 0;
}
.form-search .input-search {
  flex: 1;
  height: .34rem;
  background-color: #fff;
  border: 1px solid #006699;
  text-align: left;
  font-size: .14rem;
  border-radius: 0.06rem 0 0 0.06rem;
}
.form-search .btn-search {
  width: 0.6rem;
  height: 0.34rem;
  background-color: #006699;
  border-color: #006699;
  border-radius: 0 0.06rem 0.06rem 0;
}
.product-list .content {
  flex: 1;
  position: relative;
}
.product-list .content ul {
  display: flex;
  flex-wrap: wrap;
  min-height: 5.78rem;
  align-content: flex-start;
  padding: .1rem;
}
.product-list .content ul li {
  width: 50%;
}
.product-list .content ul li a {
  display: block;
  background-color: #fff;
}
.product-list .content ul li a img {
  width: 100%;
}
.product-list .content ul li a p {
  font-size: .14rem;
  text-align: center;
  overflow: hidden;
  height: 0.45rem;
}
#main {
  background-color: #fff;
}
#main .product-list {
  height: 100%;
}
#main .product-list .title {
  background-color: #ccc;
  width: 100%;
  height: 0.35rem;
}
#main .product-list .title ul {
  display: flex;
  flex-wrap: wrap;
}
#main .product-list .title ul li {
  width: 25%;
}
#main .product-list .title ul li.active a {
  color: red;
}
#main .product-list .title ul li a {
  line-height: .35rem;
  text-align: center;
  display: block;
  color: #666;
}
